
:root {
    --color-plum: #4A3267;        /* Plum */
    --color-blush: #DE638A;       /* Blush */
    --color-peach: #F7B9C4;       /* Peach */
    --color-lavender: #F3D9E5;    /* Lavender */
    --color-lilac: #C6BADE;       /* Lilac */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-lilac);
    color: var(--color-lilac);
    margin: 0;
}

/* Use the color variables in your styles */
h1 {
    color: var(--color-plum);
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: white;
    font-size: 16px;
}

h1, p {
    text-align: center;
}


/* Additional styling using the color variables */
.button {
    background-color: var(--color-peach);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.widget {
    /* background-color: var(--color-lavender); */
    background-color: white;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.graph {
    height: 200px; /* Set a fixed height for the graph container */
    background-color: #fff; /* Add a background color for the graph container */
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header */

header {
    background-color:var(--color-plum);
    color: #fff;
    padding: 10px;
    text-align: right;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.username {
    font-weight: bold;
}
.logout {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}